<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Pen
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%pen.io%").first.id)
if kw2.length < 1
    browser.goto 'http://pen.io/'
    browser.text_field(name: 'url').set @keyword.keyword
    browser.text_field(name: 'password').set @keyword.password
    browser.input(type: 'submit').click
    browser.execute_script("alert(\"Please solve CAPTCHA\")")
    sleep 50
    browser.text_field(name: 'title').set @keyword.anchor_text
    browser.textarea(name: 'text').set @keyword.description + ' ' + @keyword.link
    browser.input(type: 'submit').click

    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%pen.io%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, pen profile was created and link placed!
</br></br>

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= render "keyword_details" %>
