<%
require 'rubygems'
require 'watir'

# Authenticate
browser = Watir::Browser.new
profiles = []

#Facebook
Rails.logger.info 'Facebook'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%facebook%").first.id)
if kw2.length < 1
    profiles << "Facebook Link Missing"
else
    profiles << kw2.first.link
end

#Twitter
Rails.logger.info 'Twitter'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%twitter%").first.id)
if kw2.length < 1
    # Creates account
    browser.goto 'https://twitter.com'
    browser.link(:text =>/Sign up/).click

    browser.text_field(name: 'user[name]').set @keyword.keyword
    browser.text_field(name: 'user[email]').set @keyword.email
    browser.text_field(name: 'user[user_password]').set @keyword.password
    browser.input(id: 'submit_button').click

    # Logs in and adds link
    browser.goto 'https://twitter.com/'
    browser.link(:text =>/Log in/).click if browser.link(:text =>/Log in/).exists?
    browser.text_field(name: "session[username_or_email]").set @keyword.email
    browser.text_field(name: "session[password]").set @keyword.password
    browser.input(type: 'submit').click
    browser.link(id: 'user-dropdown-toggle').click
    browser.link(data_nav: 'view_profile').click
    browser.span(text: "Edit profile").click
    browser.text_field(id: "user_url").set @keyword.link
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: 1)
    keyword_web2.update_attributes(link: browser.url)
    browser.button(text: "Save changes").click
    browser.close
else
   profiles << kw2.first.link
end

#Pinterest
Rails.logger.info 'Pinterest'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%pinterest%").first.id)
if kw2.length < 1
    browser.goto 'https://www.pinterest.com/'
    browser.text_field(type: 'email').set @keyword.email
    browser.text_field(type: 'password').set @keyword.password
    browser.button(type: 'submit').click
    browser.text_field(placeholder: 'Full name').set @keyword.keyword
    browser.text_field(placeholder: 'Age').set '25'
    browser.radio(:name => 'gender', :value => 'male').set
    browser.button(type: 'submit').click
else
   profiles << kw2.first.link
end

#Instagram
Rails.logger.info 'Instagram'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%instagram%").first.id)
if kw2.length < 1
    browser.goto 'https://www.instagram.com/'
    browser.text_field(name: 'emailOrPhone').set @keyword.email
    browser.text_field(name: 'fullName').set @keyword.keyword
    browser.text_field(name: 'username').set @keyword.keyword
    browser.text_field(name: 'password').set @keyword.password
    browser.button(text: 'Sign up').click
else
   profiles << kw2.first.link
end

#MySpace
Rails.logger.info 'MySpace'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%myspace%").first.id)
if kw2.length < 1
    profiles << "MySpace Link Missing"
else
    profiles << kw2.first.link
end

#Tumblr
Rails.logger.info 'Tumblr'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%tumblr%").first.id)
if kw2.length < 1
    profiles << "Tumblr Link Missing"
else
    profiles << kw2.first.link
end

#Flickr
Rails.logger.info 'Flickr'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%flickr%").first.id)
if kw2.length < 1
    browser.goto 'https://www.flickr.com/signup'
    #browser.link(:text =>/Sign up/).click
    browser.text_field(name: 'firstName').set @keyword.keyword
    browser.text_field(name: 'lastName').set @keyword.keyword
    browser.text_field(name: 'email').set @keyword.email
    browser.text_field(name: 'password').set @keyword.password
    browser.select_list(name: 'mm').select_value('1')
    browser.text_field(name: 'dd').set '01'
    browser.text_field(name: 'yyyy').set '1980'
    browser.button(type: 'submit').click
    # Send me an Account Key button
    browser.button(type: 'submit').click

else
    profiles << kw2.first.link
end

#Quora
Rails.logger.info 'Quora'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%quora%").first.id)
if kw2.length < 1
    profiles << "Quora Link Missing"
else
    profiles << kw2.first.link
end

#Medium
Rails.logger.info 'Medium'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%medium%").first.id)
if kw2.length < 1
    browser.goto 'https://medium.com/m/signin'
    browser.span(text: 'Sign up with email').click
    browser.text_field(name: 'fullName').set @keyword.keyword
    browser.text_field(name: 'email').set @keyword.email
else
    profiles << kw2.first.link
end

#GitHub
Rails.logger.info 'GitHub'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%github%").first.id)
if kw2.length < 1
    browser.goto 'https://github.com/join'
    browser.text_field(id: 'user_login').set @keyword.keyword
    browser.text_field(id: 'user_email').set @keyword.email
    browser.text_field(id: 'user_password').set @keyword.password
    browser.text_field(value: 'Join with email').click
    #browser.button(type: 'submit').click
    #browser.link(text: 'skip this step').click
else
    profiles << kw2.first.link
end

#----------------------------------------------------------------------------------------------------
Watir::Wait.until(1800) { browser.text.include? 'Boom Shakalaka!' }

browser.text_field(name: 'lastName').set @keyword.anchor_text.split[1..@keyword.anchor_text.split.length-1].join(' ')

browser.execute_script("alert(\"Please place link to continue. You got 30 seconds to do so..\")")
browser.execute_script("alert(\"Please verify account BEFORE CONTINUING..\")")

browser.select_list(name: 'label').select_value('hp1')
browser.file_field(id: 'profile_avatar').set @keyword.logo_path

#Scroll down 800 px
browser.execute_script("window.scrollBy(0,800)")

description = 'Place this in description: '+ @keyword.description
browser.execute_script("var test = '#{description}';alert(test);")
sleep 8

linkedin = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%linkedin.com%')
linkedin = linkedin.first.link if linkedin.first
browser.text_field(name: 'socialLinkedin_url').set linkedin unless linkedin.empty?
#----------------------------------------------------------------------------------------------------


</br></br>

<%#= link_to "Place about.me link", send("place_about_link_path", keyword_id: @keyword.id) %>



#Vimeo
#Need to verify this indeed works!!
Rails.logger.info 'Vimeo'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%vimeo%").first.id)
if kw2.length < 1
    browser.goto 'https://vimeo.com/join'
    browser.text_field(name: 'name').set @keyword.keyword
    browser.text_field(name: 'email').set @keyword.email
    browser.text_field(name: 'password').set @keyword.password
    browser.button(type: 'submit').click
    browser.button(type: 'submit').click
    browser.link(text: 'skip this step').click
else
    profiles << kw2.first.link
end

#-----------  Essentials List ----------#
#Google Plus
#https://plus.google.com/
Rails.logger.info 'Google Plus'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%plus.google%").first.id)
if kw2.length < 1
    profiles << "Google Plus Link Missing"
else
    profiles << kw2.first.link
end


#LinkedIn
#https://www.linkedin.com/in
Rails.logger.info 'LinkedIn'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%linkedin%").first.id)
if kw2.length < 1
    profiles << "LinkedIn Link Missing"
else
    profiles << kw2.first.link
end


#YouTube
#https://www.youtube.com/
Rails.logger.info 'YouTube'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%youtube%").first.id)
if kw2.length < 1
    profiles << "YouTube Link Missing"
else
    profiles << kw2.first.link
end

#USGBC
#https://www.usgbc.org/
Rails.logger.info 'USGBC'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%usgbc.org%").first.id)
if kw2.length < 1
    profiles << "USGBC Link Missing"
else
    profiles << kw2.first.link
end


#EventFul
#http://eventful.com/
Rails.logger.info 'Eventful'
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%eventful.com%").first.id)
if kw2.length < 1
    browser.goto 'http://eventful.com/join'
    browser.text_field(name: 'email').set @keyword.email
    browser.text_field(name: 'password1').set @keyword.password
    browser.text_field(name: 'zipcode').set '20906'
    browser.button(text: 'Male').click

    browser.select_list(id: 'dob_month').select_value('1')
    browser.select_list(id: 'dob_day').select_value('1')
    browser.select_list(id: 'dob_year').select_value('37')
    #Click Captcha and place link
else
    profiles << kw2.first.link
end

Watir::Wait.until(180) { browser.text.include? 'Boom Shakalaka!' }

#ToolBox
#http://it.toolbox.com/people/



#Mashable
#http://mashable.com/people//

#TypePad
#http://profile.typepad.com/


#BlogTalkRadio
#http://www.blogtalkradio.com/


#Care2
#http://www.care2.com/c2c/people/


#CrunchyRoll
#http://www.crunchyroll.com/user/


#FolkD
#http://www.folkd.com/user/


#FunnyOrdie
#http://www.funnyordie.com/


#Spoke
#http://www.spoke.com/companies/


#Tagged
#http://www.tagged.com/


#500px
#https://500px.com/


#About.me
#https://about.me/


#Bitly
#https://app.bitly.com/


#Ask.FM
#https://ask.fm/


#AudioBoom
#https://audioboom.com/


#Forbes
#https://blogs.forbes.com/

#Disqus
#https://disqus.com/by/

#DZone
#https://dzone.com/users/

#FourSquare
#https://foursquare.com/

#Issuu
#https://issuu.com/


#LiveJournal
#https://livejournal.com/

#Polyvore
#https://polyvore.com/

#Shutterfly
#https://shutterfly.com/

#DeviantArt
#https://deviantart.com/


#SlashDot
#https://slashdot.org/

#Storify
#https://storify.com/

#Facebook#2
#https://web.facebook.com/pg/

#WeHeartIt
#https://weheartit.com/

#WikiAnswers
#https://wiki.answers.com/

#BeHance
#https://www.behance.net/

#CouchSurfing
#https://www.couchsurfing.com/

#Diigo
#https://www.diigo.com/user/

#GoodReads
#https://www.goodreads.com/

#Instructables
#https://www.instructables.com/

#IntenseDebate
#https://www.intensedebate.com/

#Kiva
#https://www.kiva.org/lender/

#LastFm
#https://www.last.fm/user/

#Reddit
#https://www.reddit.com/user/

#Scoop
#https://www.scoop.it/u/

#Scribd
#https://www.scribd.com/

#SlideShare
#https://www.slideshare.net/

#StumbleUpon
#https://www.stumbleupon.com/

#TED
#https://www.ted.com/

#TurnKeyLinux
#https://www.turnkeylinux.org/user/

#VisualCV
#https://www.visualcv.com/

#WattPad
#https://www.wattpad.com/user/

#Zillow
#https://www.zillow.com/profile/

#ShapeWays
#https://www.shapeways.com/designer/

#SnapFish
#https://www.snapfish.com/

#AllNumis
#https://www.allnumis.com/user/profile/

#8Tracks
#https://8tracks.com/

#TradingView
#https://www.tradingview.com/

#AdsOfTheWorld
#http://www.adsoftheworld.com/user/

#StoreBoard
#https://www.storeboard.com/

#MapMyRun
#https://www.mapmyrun.com/my_home/

#RedBubble
#https://www.redbubble.com/people/


#-----------  Contact Sharing List ----------#
#-----------  Underdogs List ----------#
#-----------  Big Bertha List ----------#

#Watir::Wait.until(180) { browser.text.include? 'Boom Shakalaka!' }


=begin
#browser.text_field(name: 'username').set user
browser.text_field(name: 'password').set @project.password
#browser.execute_script("alert(\"Please resolve the CAPTCHA to continue.\")")
sleep 4

# Make sure auth worked
#browser.link(:text =>'3 - Valide seus anúncios').wait_until_present
browser.link(:text =>'3 - Verify your Ads').wait_until_present

# Grab anuncio text
browser.goto 'http://brasiltelexbit.com/publicar.php'
browser.text_field(name: 'usernames[]').set user
browser.execute_script("window.scrollBy(0,500)")
browser.input(:type =>'submit').click
anuncio_text = browser.link(:id => 'ad'+user+'0').text

# Post ads
browser.goto 'https://office.telexbit.com/'
#browser.link(:text =>'3 - Valide seus anúncios').click
browser.link(:text =>'3 - Verify your Ads').click
=end
%>

<%# [0,1,2,3,4].each do |num| %>
<%# 	browser.select_list(:name, "n_adcentral").select_value(num.to_s) %>
<%# 	browser.text_field(id: 'site_ads').set anuncio_text %>
<%# 	browser.text_field(id: 'link_ads').set anuncio_text+num.to_s %>
<%# 	browser.button(type: 'submit').click %>
<%# 	sleep 1 %>
<%#=	p "#{num} --- \xE2\x9C\x94" %>
<%# 	browser.goto 'https://office.telexbit.com/Ads/AdsSelectIII' %>
<%# end %>

<%#= puts browser.title %>

<%# @project.ad_timestamp = DateTime.now %>
<%# @project.save! %>

</br></br>

Congrats, profiles were created!

</br></br>

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

<br/>
<%= link_to 'Back', keywords_path  %>
<% browser.close %>
