<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Hawkee
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%hawkee.com%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'http://hawkee.com/login'
    browser.text_field(name: 'username').set @keyword.keyword
    browser.text_field(name: 'password').set @keyword.password
    browser.button(type: 'submit').click
    browser.goto 'http://hawkee.com/account'
    browser.text_field(name: 'website').set @keyword.link
    browser.text_field(name: 'location').set @keyword.city
    browser.text_field(name: 'occupation').set @keyword.description
    # Max 640x640 avatar for this site
    browser.file_field(name: 'avatar').set(@keyword.small_logo_path)
    browser.execute_script("window.scrollBy(0,800)")
    browser.button(text: 'Save Profile').click
    sleep 2
    browser.link(id: 'button-right-offcanvas').click
    sleep 2
    browser.link(text: 'View profile').click
    sleep 1
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%hawkee.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, hawkee link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>