<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Instagram
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%instagram%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://instagram.com/'
    browser.link(:text =>/Log in/).click if browser.link(:text =>/Log in/).exists?
    browser.text_field(name: "username").set @keyword.email
    browser.text_field(name: "password").set @keyword.password
    browser.button(text: 'Log in').click
    browser.link(:text =>/Profile/).click
    browser.button(text: 'Edit Profile').click
    browser.text_field(id: "pepWebsite").set @keyword.link
    browser.button(text: 'Submit').click
    browser.link(:text =>/Profile/).click
    browser.goto 'https://instagram.com/'
    browser.link(:text =>/Profile/).click
    sleep 2
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%instagram%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, instagram link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>