<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#TradingView
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "tradingview.co%").first.id)
#if kw2.length < 1
    browser.goto 'https://www.tradingview.com/login#signin'
    #browser.text_field(name: 'email').set @keyword.email
    description = 'Place this in email: '+ @keyword.email
    browser.execute_script("var test = '#{description}';alert(test);")
    sleep 7
    browser.text_field(name: 'password').set @keyword.password
    browser.button(type: 'submit').click
    sleep 1
    browser.goto "https://www.tradingview.com/u/#{@keyword.keyword}/#settings-profile"
    browser.textarea(id: 'id_about').set @keyword.description
    browser.text_field(id: 'id_location').set @keyword.city
    browser.text_field(id: 'id_website').set @keyword.link
    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%')
    twitter = twitter.first.link if twitter.first
    twitter = twitter.gsub!('https://twitter.com/', '')
    browser.text_field(id: 'id_twitter').set twitter unless twitter.empty?
    browser.span(class: 'tv-button__loader').click
    browser.goto "https://www.tradingview.com/u/#{@keyword.keyword}"
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%tradingview.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, tradingview was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>
