<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#YouNow
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "younow.co%").first.id)
#if kw2.length < 1
    browser.goto 'https://www.younow.com/'
    browser.execute_script("alert(\"Please sign in with GMAIL!\")")
    sleep 7
    description = 'Place this in email: '+ @keyword.email
    browser.execute_script("var test = '#{description}';alert(test);")
    sleep 8
    description = 'Place this in password: '+ @keyword.password2
    browser.execute_script("var test = '#{description}';alert(test);")
    sleep 8
    browser.goto 'https://www.younow.com/settings'
    sleep 1
    description = 'Place this in NickName: '+ @keyword.anchor_text.gsub(' ','')
    browser.execute_script("var test = '#{description}';alert(test);")
    sleep 8
    browser.button(text: 'Save').click
    browser.div(class: 'url').click
    sleep 1
    description = 'Place this in description: '+ @keyword.link + ' | ' + @keyword.description[0..90]
    browser.execute_script("var test = '#{description}';alert(test);")
    sleep 8
    browser.execute_script("alert(\"Please place photos and click save!\")")
    sleep 15
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%younow.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, YouNow was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>
