<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#HomeTalk
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%hometalk.co%").first.id)
#if kw2.length < 1
    browser.goto 'https://www.hometalk.com/'
    browser.link(text: 'Join Now').click
    browser.execute_script("alert(\"Please click Log In.\")")
    sleep 5

    #browser.link(text: 'Log In').click
    browser.text_field(name: 'email').set @keyword.email
    browser.text_field(name: 'password').set @keyword.password
    browser.button(text: 'Log In').click
    sleep 2
    browser.goto 'https://www.hometalk.com/my-account'
    browser.file_field(name: 'photo').set @keyword.logo_path
    browser.text_field(name: 'username').set @keyword.anchor_text
    #browser.text_field(name: 'city_name').set @keyword.city
    browser.text_field(name: 'mod_rewrite').set @keyword.keyword
    browser.execute_script("window.scrollBy(0,800)")
    browser.text_field(name: 'my_website').set @keyword.link
    browser.textarea(name: 'about_me').set @keyword.description
    browser.button(text: 'Save').click
    sleep 2
    browser.execute_script("alert(\"Please go to profile.\")")
    sleep 5
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%hometalk.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)
   browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, hometalk was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>