<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#CreativeMarket
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%creativemarket%").first.id)
#if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://creativemarket.com/'
    browser.link(text: 'No thanks, I don’t want a 10% discount and free assets.').click if browser.link(text: 'No thanks, I don’t want a 10% discount and free assets.').present?
    sleep(2)
    browser.link(text: 'Sign In').click

    username = 'Place this in username: '+ @keyword.keyword
    browser.execute_script("var test = '#{username}';alert(test);")
    sleep 8

    password = "Place this in password and then click Sign in button: "+ @keyword.password
    browser.execute_script("var test = '#{password}';alert(test);")
    sleep 8

    browser.goto('https://creativemarket.com/account/settings')
    sleep(1)
    browser.file_field(name: 'user-avatar-file').set(@keyword.logo_path)
    sleep 5
    browser.text_field(name: 'location').set @keyword.city
    browser.text_field(name: 'website').set @keyword.link
    browser.textarea(name: 'bio').set @keyword.description

    instagram = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%instagram.com%').first
    instagram = instagram.link if instagram
    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%').first
    twitter = twitter.link if twitter
    tumblr = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%tumblr.com%').first
    tumblr = tumblr.link  if tumblr
    pinterest = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%pinterest.com%').first
    pinterest = pinterest.link if pinterest
    github = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%github.com%').first
    github = github.link if github
    behance = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%behance.net%').first
    behance = behance.link if behance
    browser.text_field(name: 'instagram').set instagram.gsub('https://instagram.com/', '').gsub('/', '') if instagram
    browser.text_field(name: 'twitter').set twitter.gsub('https://twitter.com/', '').gsub('/', '') if twitter
    browser.text_field(name: 'tumblr').set tumblr if tumblr
    browser.text_field(name: 'pinterest').set pinterest.gsub('https://pinterest.com/', '').gsub('/', '') if pinterest
    browser.text_field(name: 'github').set github.gsub('https://github.com/', '').gsub('/', '') if github
    browser.text_field(name: 'github').set github.gsub('https://www.behance.net/', '').gsub('/', '') if behance

    browser.execute_script("alert(\"Please make sure only usernames are filled out in socials, not entire URL. You got 5 seconds to do so..\")")
    sleep 15
    browser.button(text: 'Update Profile Info').click
    sleep 3
    browser.execute_script("alert(\"Please go to profile page to continue. You got 5 seconds to do so..\")")
    sleep 12
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%creativemarket%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, creativemarket link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>
