<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#SmashWords
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/smashwords.co%").first.id)
if kw2.length < 1
    browser.goto 'https://www.smashwords.com/signin'
    #browser.text_field(name: 'email').set @keyword.email
    #browser.text_field(name: 'username').set @keyword.anchor_text
    #browser.input(value: 'Sign In')
    #browser.execute_script("alert(\"Please log in manually\")")
    email = 'Place this in email: '+ @keyword.email
    browser.execute_script("var test = '#{email}';alert(test);")
    sleep 7
    password = 'Place this in password: '+ @keyword.password + ' and click SIGN IN to continue.'
    browser.execute_script("var test = '#{password}';alert(test);")
    sleep 7
    browser.input(value: 'Sign In').click if browser.input(value: 'Sign In').exists?
    browser.goto 'https://www.smashwords.com/profile/imgPost'
    browser.file_field(name: 'Filedata').set @keyword.logo_path
    browser.input(type: 'submit').click
    sleep 4
    browser.goto 'https://www.smashwords.com/profile/edit'
    browser.text_field(name: 'website_url').set @keyword.link

    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%')
    twitter = twitter.first.link if twitter.first
    browser.text_field(name: 'socialTwitter_username').set twitter.gsub('https://twitter.com/', '') if twitter
    browser.execute_script("alert(\"Please fix twitter url if necessary SHOULD BE USERNAME ONLY.\")")
    sleep 8

    facebook = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%facebook.com%')
    facebook = facebook.first.link if facebook.first
    browser.text_field(name: 'socialFacebook_url').set facebook if facebook

    linkedin = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%linkedin.com%')
    linkedin = linkedin.first.link if linkedin.first
    browser.text_field(name: 'socialLinkedin_url').set linkedin unless linkedin.empty?
    browser.textarea(name: 'bio').set @keyword.description
    browser.input(value: 'Update Profile').click
    sleep 3
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/smashwords.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)

   browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, smashwords was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>