<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Foursquare
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%foursquare%").first.id)
#if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.foursquare.com/'
    browser.link(text: 'Log In').click
    browser.text_field(id: 'username').set @keyword.email
    browser.text_field(id: 'password').set @keyword.password
    browser.button(text: 'Log in').click
    browser.goto 'https://www.foursquare.com/settings'
    browser.textarea(id: 'inputBio').set (@keyword.link + " " + @keyword.description)[0..159]
    browser.text_field(id: 'inputLocation').set @keyword.city
    browser.execute_script("alert(\"Please make sure city is correct\")")
    sleep 7
    browser.execute_script("window.scrollBy(0,800)")
    browser.button(text: 'Save Changes').click
    browser.div(id: 'user').click
    sleep 3
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%foursquare%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, foursquare link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>