<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Medium
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%medium%").first.id)
#if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.medium.com/'
    browser.execute_script("alert(\"Please place this link manually!\")")
    sleep(10)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, medium link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>