<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#SpeakerDeck
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/speakerdeck.com%").first.id)
#if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://speakerdeck.com/signin'
    browser.text_field(id: 'email').set @keyword.email
    browser.text_field(id: 'password').set @keyword.password
    browser.button(text: 'Sign In').click
    sleep 1
    browser.goto 'https://speakerdeck.com/account'
    browser.textarea(id: 'user_bio').set @keyword.link + ' ' + @keyword.description
    browser.button(text: 'Update Information').click
    sleep 1
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/speakerdeck.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, speakerdeck was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>