<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Pen
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%pen.io%").first.id)
#if kw2.length < 1
    browser.execute_script("alert(\"Please use create script!\")")
    sleep 7
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, pen was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>