<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#CreativeMarket
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%creativemarket%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://creativemarket.com/'
    browser.link(text: 'No thanks, I don’t want a 10% discount and free assets.').click if browser.link(text: 'No thanks, I don’t want a 10% discount and free assets.').present?
    sleep(2)
    browser.link(text: 'Sign In').click
    browser.execute_script("alert(\"Please type in username/passswd and click Sign In to continue..\")")
    sleep(15)
    browser.goto('https://creativemarket.com/account/settings')
    sleep(1)
    browser.text_field(name: 'location').set @keyword.anchor_text.split[0]
    browser.text_field(name: 'website').set @keyword.link
    browser.file_field(name: 'user-avatar-file').set(@keyword.logo_path)
    browser.execute_script("alert(\"Please type description and save to continue.. You got 7 secs\")")
    sleep(10)
    browser.goto("https://creativemarket.com/#{@keyword.keyword}")
    sleep(2)
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%creativemarket%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, creativemarket link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>