<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Prince
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/prince.org%").first.id)
#if kw2.length < 1
    browser.goto 'http://prince.org/login.html'
    browser.text_field(name: 'login_un').set @keyword.keyword
    browser.text_field(name: 'login_pw').set @keyword.password
    browser.input(name: 'login_login').click
    sleep 1
    browser.goto 'http://prince.org/prefs/index.html?e=profile'
    browser.text_field(name: 'first_name').set @keyword.anchor_text.split[0]
    browser.text_field(name: 'last_name').set @keyword.anchor_text.split[1..@keyword.anchor_text.length]
    browser.text_field(name: 'homepage').set @keyword.link
    browser.textarea(name: 'comments').set @keyword.description
    browser.text_field(name: 'city').set @keyword.city
    browser.text_field(name: 'country').set @keyword.country
    browser.input(name: 'go').click
    sleep 2
    browser.goto 'http://prince.org/prefs/index.html?e=profile'
    sleep 1
    browser.link(text: 'profile page').click
    sleep 1
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/prince.org%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, prince.org was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>