<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Ask-book
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%ask-book%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://ask-book.com/'
    browser.text_field(placeholder: 'Email or Username').set @keyword.email
    browser.text_field(placeholder: 'Password').set @keyword.password
    browser.button(text: 'Log In').click
    browser.link(id: 'naviMenu').click
    browser.link(text: 'Settings').click

    browser.textarea(name: 'aboutme').set @keyword.description
    browser.textarea(name: 'website').set @keyword.link
    browser.text_field(name: 'location').set @keyword.city
    browser.execute_script("window.scrollBy(0,1500)")
    browser.button(text: 'Save').click
    #browser.execute_script("alert(\"Please place link and save to continue. You got 10 seconds to do so..\")")
    #sleep(10)

    browser.div(id: "naviRight").links.each_with_index do | link, index |
        link.click if index == 4
    end
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%ask-book%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, ask-book link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>