<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#CodeCademy
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%codecademy%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.codecademy.com/login'
    browser.text_field(id: 'user_login').set @keyword.email
    browser.text_field(id: 'login__user_password').set @keyword.password
    browser.button(text: 'Log in').click
    browser.goto 'https://www.codecademy.com/account'
    sleep(2)
    browser.text_field(id: 'user_name').set @keyword.keyword
    browser.text_field(id: 'user_location').set @keyword.city
    browser.textarea(id: 'user_about_me').set @keyword.description
    browser.text_field(id: 'user_website').set @keyword.link
    browser.execute_script("window.scrollBy(0,300)")
    github = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%github.com%')
    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%')
    linkedin = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%linkedin.com%')
    browser.text_field(id: 'user_handles[github]').set github.first.link unless github.empty?
    browser.text_field(id: 'user_handles[twitter]').set twitter.first.link unless twitter.empty?
    browser.text_field(id: 'user_handles[linked_in]').set linkedin.first.link unless linkedin.empty?
    browser.execute_script("window.scrollBy(0,1200)")
    #input field
    browser.file_field(id: 'user_profile_image').set(@keyword.logo_path)
    browser.button(value: 'Update Profile').click
    browser.button(id: 'dropdown-toggle').click
    browser.link(id: 'my-profile-link').click
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%codecademy%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, codecademy link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>