<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Goodreads
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%goodreads%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.goodreads.com/user/sign_in'
    browser.text_field(id: 'user_email').set @keyword.email
    browser.text_field(id: 'user_password').set @keyword.password
    browser.button(value: 'Sign in').click
    browser.goto 'https://www.goodreads.com/user/edit'
    browser.text_field(id: 'user_user_name').set @keyword.keyword
    browser.text_field(id: 'user_url').set @keyword.link
    #Scroll down 800 px
    browser.execute_script("window.scrollBy(0,800)")
    browser.button(value: 'Save Profile Settings').click
    browser.link(text: 'View My Profile').click
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: 21)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, goodreads link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>