<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Behance
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%behance%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.behance.net/'
    browser.link(text: 'Sign In').click
    browser.text_field(id: 'adobeid_username').set @keyword.email
    browser.text_field(id: 'adobeid_password').set @keyword.password2
    browser.button(text: 'Sign in').click
    browser.execute_script("alert(\"Please place info and socials to continue. You got 60 seconds to do so..\")")
    sleep(120)
    browser.execute_script("alert(\"Go to link page..\")")
    sleep(10)
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%behance%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, behance link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>