<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#BetterNetworker
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/betternetworker.co%").first.id)
if kw2.length < 1
    browser.goto 'https://www.betternetworker.com/access'
    browser.text_field(id: 'edit-name').set @keyword.keyword
    browser.text_field(id: 'edit-pass').set @keyword.password
    browser.input(id: 'edit-submit').click
    browser.goto 'http://www.betternetworker.com/register/profile/basics'
    sleep 3
    browser.file_field(id: 'edit-picture-upload').set(@keyword.logo_path)
    browser.input(id: 'edit-submit').click
    sleep 2

    browser.text_field(id: 'edit-profile-professional-website1').set @keyword.link.gsub('https', 'http')

    facebook = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%facebook.com%')
    facebook = facebook.first.link.gsub('https', 'http') if facebook.first
    browser.text_field(id: 'edit-profile-social-facebook').set facebook unless facebook.empty?

    youtube = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%youtube.com%')
    youtube = youtube.first.link.gsub('https', 'http') if youtube.first
    browser.text_field(id: 'edit-profile-social-youtube').set youtube unless youtube.empty?
    browser.input(id: 'edit-submit').click
    browser.textarea(id: 'edit-profile-basics-biography').set @keyword.description
    browser.input(id: 'edit-submit').click
    sleep 2
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/betternetworker.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)

    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, betternetworker was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>