<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#DevPost
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/devpost.co%").first.id)
if kw2.length < 1
    browser.goto 'https://secure.devpost.com/users/login'
    browser.text_field(id: 'user_email').set @keyword.email
    browser.text_field(id: 'user_password').set @keyword.password
    browser.button(id: 'submit-form').click
    browser.goto 'https://devpost.com/settings'
    browser.text_field(id: 'user_user_setting_attributes_tagline').set @keyword.description
    browser.text_field(id: 'user_address').set @keyword.city
    browser.text_field(id: 'user_user_setting_attributes_website').set @keyword.link

    github = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%github.com%')
    github = github.first.link.gsub('https://github.com/', '') if github.first
    browser.text_field(id: 'user_user_setting_attributes_github_login').set github unless github.empty?

    linkedin = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%linkedin.com%')
    linkedin = linkedin.first.link if linkedin.first
    browser.text_field(id: 'user_user_setting_attributes_linkedin').set linkedin unless linkedin.empty?

    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%')
    twitter = twitter.first.link.gsub('https://twitter.com/', '') if twitter.first
    browser.text_field(id: 'user_user_setting_attributes_twitter').set twitter unless twitter.empty?

    browser.execute_script("alert(\"Please fix socials if necessary.\")")
    sleep 12
    browser.input(value: 'Save changes').click
    browser.link(text: 'View your Portfolio').click
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%/devpost.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)

    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, devpost was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>