<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#NationalGeographic
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%nationalgeographic.com%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://members.nationalgeographic.com/account/login'
    browser.text_field(name: 'username').set @keyword.email
    browser.text_field(name: 'password').set @keyword.password2
    browser.button(text: 'Sign In').click
    sleep 2
    browser.goto 'https://members.nationalgeographic.com/settings/public-profile/'
    browser.execute_script("window.scrollBy(0,800)")
    browser.text_field(id: 'personal-site').set @keyword.link
    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%')
    twitter = twitter.first.link if twitter.first
    facebook = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%facebook.com%')
    facebook = facebook.first.link if facebook.first
    tumblr = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%tumblr.com%')
    tumblr = tumblr.first.link if tumblr.first
    instagram = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%instagram.com%')
    instagram = instagram.first.link if instagram.first
    # Place socials
    browser.text_field(name: 'followTwitter').set twitter.gsub('https://twitter.com/', '').tr('/', '')
    browser.text_field(name: 'followFacebook').set facebook.gsub('https://www.facebook.com/', '').tr('/', '')
    browser.text_field(name: 'followTumblr').set tumblr.gsub('https://tumblr.com/', '')
    browser.text_field(name: 'followInstagram').set instagram.gsub('https://www.instagram.com/', '').tr('/', '')
    browser.textarea(name: 'bio').set @keyword.description
    browser.execute_script("alert(\"Please make sure socials are good continue. You got 12 seconds to do so..\")")
    sleep 15
    browser.execute_script("window.scrollBy(0,1200)")
    browser.link(text: 'Save Changes').click
    sleep 1
    browser.execute_script("alert(\"Please click on Public Profile. You got 5 seconds to do so..\")")
    sleep 8
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%nationalgeographic.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, nationalgeographic link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>