<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#DeviantArt
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%deviantart%").first.id)
#if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.deviantart.com/users/login'
    browser.text_field(id: 'login_username').set @keyword.keyword
    browser.text_field(id: 'login_password').set @keyword.password
    browser.execute_script("alert(\"Please fix username if necessary. You got 10 seconds to do so..\")")
    sleep 7
    browser.button(value: 'Log In').click
    browser.link(text: 'COMPLETE YOUR PROFILE').click
    browser.text_field(id: 'realname').set @keyword.anchor_text
    browser.text_field(id: 'website').set @keyword.link
    browser.textarea(name: 'customtext').set @keyword.description
    browser.link(text: 'Continue').click
    browser.execute_script("alert(\"Please place pic and finish process\")")

    sleep(35)
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%deviantart%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, deviantart link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>