<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Yelp
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%yelp%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.yelp.com/signup'
    browser.link(text: 'Log in').click
    browser.execute_script("alert(\"Please login to continue. You got 10 seconds to do so..\")")
    sleep(15)
    browser.goto 'https://www.yelp.com/profile'
    sleep(3)
    browser.text_field(id: 'blog').set @keyword.link
    browser.execute_script("window.scrollBy(0,1800)")
    browser.span(text: 'Save Changes').click
    sleep(3)
    browser.goto 'https://www.yelp.com/user_personal_url'
    sleep(3)
    browser.execute_script("alert(\"Please set URL link to continue. You got 15 seconds to do so..\")")
    sleep(15)
    url = browser.link(class: 'vanity-url_link').click
    sleep(3)
    browser.execute_script("alert(\"Please finish process manually.\")")
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, ask-book link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>