<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Logopond
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%fontspace.com%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'http://www.fontspace.com/account/login'
    browser.text_field(name: 'username').set @keyword.keyword
    browser.text_field(name: 'password').set @keyword.password
    browser.execute_script("alert(\"Please fix username if necessary\")")
    sleep 8
    browser.button(text: 'Login').click
    browser.goto 'http://www.fontspace.com/account/settings'
    sleep 2
    browser.execute_script("alert(\"Please place photo to continue. You got 15 seconds to do so..\")")
    sleep 20
    browser.text_field(name: 'realName').set @keyword.anchor_text
    browser.select_list(name: 'country').select_value('us')
    browser.textarea(name: 'profileText').set @keyword.description
    browser.text_field(name: 'url').set @keyword.link
    browser.execute_script("window.scrollBy(0,1200)")
    browser.button(text: 'Save Changes').click
    browser.link(text: 'profile').click
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%fontspace.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, fontspace link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>