<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Issuu
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%issuu.com%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://issuu.com/signin'
    browser.text_field(name: 'username').set @keyword.email
    browser.text_field(name: 'password').set @keyword.password
    browser.button(type: 'submit').click
    sleep 2
    browser.goto 'https://issuu.com/home/settings'
    sleep 1
    browser.execute_script("alert(\"Please place photo to continue. You got 10 seconds to do so..\")")
    sleep 15
    browser.textarea(name: 'about').set @keyword.description
    browser.text_field(name: 'city').set @keyword.city
    browser.text_field(name: 'website').set @keyword.link
    browser.execute_script("window.scrollBy(0,800)")
    instagram = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%instagram.com%')
    instagram = instagram.first.link unless instagram.empty?
    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%')
    twitter = twitter.first.link unless twitter.empty?
    facebook = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%facebook.com%')
    facebook = facebook.first.link unless facebook.empty?
    pinterest = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%pinterest.com%')
    pinterest = pinterest.first.link unless pinterest.empty?
    browser.execute_script("window.scrollBy(0,800)")

    # Place BIG 4
    browser.text_field(name: 'social-instagram').set instagram
    browser.text_field(name: 'social-twitter').set twitter
    browser.text_field(name: 'social-facebook').set facebook
    browser.text_field(name: 'social-pinterest').set pinterest
    browser.text_field(name: 'firstname').set @keyword.anchor_text.split[0]
    browser.text_field(name: 'lastname').set @keyword.anchor_text.split[1]
    sleep 1
    browser.execute_script("window.scrollBy(0,800)")
    browser.button(text: 'Save changes').click
    sleep 1
    browser.execute_script("window.scrollBy(0,-2000)")
    browser.button(text: 'See my profile').click
    sleep 3
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%issuu.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, issuu link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>