<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#ArmorGames
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%armorgames%").first.id)
if kw2.length < 1
    browser.execute_script("alert(\"Please place link manually to continue.\")")
    sleep(5)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, armorgames link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>