<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#Steepster
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%steepster.com%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://steepster.com/login'
    browser.text_field(name: 'user_session[username_or_email]').set @keyword.email
    browser.text_field(name: 'user_session[password]').set @keyword.password
    browser.button(text: 'Log In').click
    sleep 1
    browser.goto 'https://steepster.com/account'
    browser.text_field(name: 'user[full_name]').set @keyword.anchor_text
    browser.text_field(name: 'user[url]').set @keyword.link
    browser.textarea(name: 'user[description]').set @keyword.description
    browser.text_field(name: 'user[location]').set @keyword.city
    browser.button(text: 'Update Profile').click
    sleep 2
    browser.file_field(id: 'avatar-file-field').set(@keyword.logo_path)
    sleep 5
    browser.button(text: 'Update Profile').click
    sleep 2
    browser.link(text: @keyword.anchor_text).click
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%steepster.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, steepster link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>