<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#AudioBoom
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%audioboom.com%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://audioboom.com/login'
    browser.text_field(name: 'email_or_username').set @keyword.email
    browser.text_field(name: 'password').set @keyword.password
    browser.button(text: 'Sign In').click
    sleep 1
    browser.goto 'https://audioboom.com/account'
    sleep 1
    browser.execute_script("alert(\"Please place photo to continue. You got 12 seconds to do so..\")")
    sleep 18
    browser.text_field(id: 'user_profile_name').set @keyword.anchor_text
    browser.text_field(id: 'user_profile_location').set @keyword.city
    browser.text_field(id: 'user_profile_website_url').set @keyword.link
    browser.textarea(id: 'user_profile_description').set @keyword.description[0..179]
    browser.button(text: 'Update profile').click
    sleep 1
    browser.goto 'https://audioboom.com/profile'
    sleep 1
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%audioboom.com%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, audioboom link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>