<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#GapYear
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%gapyear%").first.id)
#if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.gapyear.com/login'
    browser.text_field(name: 'log').set @keyword.keyword
    browser.text_field(name: 'pwd').set @keyword.password
    browser.button(id: 'wp-submit').click
    browser.link(id: 'edit').click
    instagram = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%instagram.com%').first.link
    twitter = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%twitter.com%').first.link
    facebook = KeywordWeb2.where(keyword_id: @keyword.id).where('link LIKE ?', '%facebook.com%').first.link
    browser.text_field(name: 'field_3').set instagram.gsub('https://wwww.instagram.com','')
    browser.text_field(name: 'field_5').set twitter.gsub('https://wwww.twitter.com','')
    browser.text_field(name: 'field_4').set facebook.gsub('https://wwww.facebook.com','')
    browser.execute_script("alert(\"Please fill out description and link in textarea..\")")
    sleep 25
    browser.execute_script("window.scrollBy(0,1100)")
    browser.input(name: 'profile-group-edit-submit').click
    sleep 2
    browser.execute_script("alert(\"Please upload pic and go to profile page..\")")
    sleep 12
    browser.link(text: 'My Profile').click
    sleep 2
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%gapyear%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, gapyear link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>