<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Care2
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%care2%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.care2.com/passport/login.html'
    browser.text_field(id: 'login_care2_loginemail').set @keyword.email
    browser.text_field(id: 'login_care2_password').set @keyword.password
    browser.button(text: 'Sign In').click
    browser.goto 'http://www.care2.com/c2c/my/edit_personal.html'
    browser.text_field(name: 'form[1]').set @keyword.link
    browser.text_field(name: 'form[2]').set @keyword.anchor_text
    browser.execute_script("alert(\"Please fill out description and save to continue. You got 10 seconds to do so..\")")
    sleep(15)
    browser.link(text: 'View Your Profile').click
    sleep(3)
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: 37)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, care2 link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>