<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Tumblr
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%tumblr%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.tumblr.com/login'
    browser.text_field(name: 'determine_email').set @keyword.email
    browser.span(text: 'Next').click
    browser.text_field(name: 'user[password]').set @keyword.password
    browser.span(text: 'Log in').click
    browser.div(id: 'account_button').click
    browser.span(class: 'blog-list-item-info-name').click
    browser.div(text: 'Edit appearance').click
    browser.button(text: 'Edit appearance').click
    browser.execute_script("alert(\"Please place link, description and anchor text to continue. You got 30 seconds to do so..\")")
    sleep(35)
    browser.execute_script("alert(\"Ready?\")")
    sleep(5)
    browser.link(:text =>/https:/).click
    sleep(3)
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%tumblr%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, tumblr link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>