<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#Soup
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%soup%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.soup.io/login'
    browser.text_field(id: 'login').set @keyword.keyword
    browser.text_field(id: 'password').set @keyword.password
    browser.execute_script("alert(\"Please fix login name and login to continue.\")")
    sleep(5)
    browser.span(text: 'My Soup').click
    browser.execute_script("alert(\"Please place link + logo to continue.\")")
    sleep(20)
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%soup%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, soup link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>