<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []
@keyword = Keyword.find(params[:keyword_id])

#TradingView
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "tradingview.co%").first.id)
#if kw2.length < 1
    browser.goto 'https://www.tradingview.com/login#signin'
    #browser.text_field(name: 'email').set @keyword.email
    description = 'Place this in email: '+ @keyword.email
    browser.execute_script("var test = '#{description}';alert(test);")
    sleep 7
    browser.text_field(name: 'password').set @keyword.password
    browser.button(type: 'submit').click
    sleep 1
    browser.goto "https://www.tradingview.com/u/#{@keyword.keyword}/#settings-profile"
    browser.textarea(id: 'id_about').set @keyword.description
    browser.text_field(id: 'id_location').set @keyword.city
    browser.text_field(id: 'id_website').set @keyword.link


    Watir::Wait.until(1800) { browser.text.include? 'Boom Shakalaka!' }

    #browser.execute_script("alert(\"Please fill this out manually.\")")
    #sleep 5




    browser.text_field(id: 'user').set @keyword.email
    browser.text_field(id: 'password').set @keyword.password
    browser.input(id: 'login').click
    browser.img(class: 'member-avatar').click
    browser.link(text: 'Settings').click
    browser.span(text: 'Change Avatar…').click
    browser.file_field(name: 'file').set @keyword.logo_path
    browser.link(class: 'pop-over-header-close-btn icon-sm icon-close').click
    browser.span(text: 'Change Name, Initials, or Bio…').click
    browser.textarea(id: 'bio').set @keyword.description + " | " + @keyword.link
    #browser.input(type: 'submit').click
    browser.execute_script("alert(\"Please click Save!\")")
    sleep 5
    browser.img(class: 'member-avatar').click
    browser.link(text: 'Profile').click
    # Save link
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%tradingview.co%").first.id)
    keyword_web2.update_attributes(link: browser.url)

   browser.close
#else
#   profiles << kw2.first.link
#end
%>

</br></br>
Congrats, tradingview was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>
