<%
require 'rubygems'
require 'watir'

browser = Watir::Browser.new
profiles = []

#PearlTrees
kw2 = KeywordWeb2.where(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%pearltrees%").first.id)
if kw2.length < 1
    # Logs in and adds link
    browser.goto 'https://www.pearltrees.com/'
    browser.text_field(id: 'username').set @keyword.keyword
    browser.text_field(id: 'email').set @keyword.email
    browser.text_field(id: 'password').set @keyword.password
    browser.span(text: 'Log in').click
    browser.text_field(id: 'log_username').set @keyword.keyword
    browser.text_field(id: 'log_password').set @keyword.password
    browser.div(text: 'Log in').click
    browser.execute_script("alert(\"Please place link to continue. You got 15 seconds to do so..\")")
    sleep(15)
    profiles << browser.url
    keyword_web2 = KeywordWeb2.find_or_create_by_keyword_id_and_web2_id(keyword_id: @keyword.id, web2_id: Web2.where("url LIKE ?", "%pearltrees%").first.id)
    keyword_web2.update_attributes(link: browser.url)
    browser.close
else
   profiles << kw2.first.link
end
%>

</br></br>
Congrats, pearltrees link was placed!

<% profiles.each do |p| %>
    <%= "<a href=\"#{p}\">#{p}</a>".html_safe %>
    </br>
<% end %>

</br></br>

<%= link_to 'Back', keyword_path(@keyword) %>